/* Paleta de cores do projeto
#037B9C - azul meio termo
#60BAD2 - azul meio termo claro
#43559C - azul escuro
#E7FEFF - azul branco
*/

* {
  box-sizing: border-box;
}

html, body{
  min-height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: montserrat;
}

.text{
  text-align: left;
  color: black;
}

/* Início da Navbar*/
.nav-conteudo {
  height: 100%;
  width:100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;              
  justify-content: flex-end;    
  align-items: center;       
}

.nav{
  width:100%;
}

.nav-item {
  margin-left: 20px; 
}

.nav-link {
  text-decoration: none;
  color: black;
  white-space: nowrap; 
}

.navebarra {
  height: 7%;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: center ;
  background-color: #ffffff;
  padding: 1% 1%;
  margin: 0;
}
/* Fim da Navbar*/

/* Início da imagem principal*/
#imageMain{
  width: 100%;
  height: 700px;
  background-image: url('assets/freezerComercial.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

#sobImage{
  background-color: #006A87CC;
  z-index:1;
  padding-top:2%;
  opacity: 0.8;
  width: 100%;
  height: 700px;
  position:relative;
}

.textMain{
  font-size: 60px;
  color: #ffffff;
  z-index: 5;
  margin-left: 5%;
  margin-top: 0;
}
/* Fim da imagem principal*/

/Seção O que é/
#describe {
  max-height:50%;
  max-width:100%;
  background-color: #ffffff;
  flex-direction: row;
  margin: 0;
}    

#textdescribe{
  color: #43559C;
  height:100%;
  width:50%;
  background-color:#ffffff;
  padding: 4% 4%;
  margin: 0;
  font-size: 20px;
}
/Fim O que é/

/Seção Como funciona/
#func {
  max-height:50%;
  max-width:100%;
  background: linear-gradient(to bottom, #037B9C 0%, #006A87 100%);
  flex-direction: row;
  margin: 0;
}    

#textfunc{
  color:#E7FEFF;
  height:100%;
  width:50%;
  padding: 4% 4%;
  margin-left: auto;
  font-size: 20px;
}
/Fim Como funciona/

/Seção Importância/
#importancia {
  max-height:50%;
  max-width:100%;
  flex-direction: row;
  margin: 0;
}    

#textimpo{
  color:#E7FEFF;
  height:100%;
  width:50%;
  padding: 4% 4%;
  margin: 0;
  font-size: 20px;
}
/Fim Importância/

/Seção Materias Utilizados/
#materiais {
  background-color: #f0f0f0;
  max-width: 100%;
  margin: 0;
  min-height:70%;
  display: flex;
  flex-direction: row;
}

#divMate{
  width:60vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#castor{
  width:40%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x:scroll;
  scrollbar-width: thin; /* Largura da barra de rolagem */
  scrollbar-color: #08789C #D9D9D9; /* Cor do botão e do fundo da barra */
}

#castor::-webkit-scrollbar-button {
  display: none; /* Remove as setas da barra de rolagem */
}

#castor::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

#castor::-webkit-scrollbar-track {
  background: #D9D9D9; /* Cor do fundo da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
  background: #08789C; /* Cor do botão da barra de rolagem */
  border-radius: 6px; /* Bordas arredondadas do botão */
}

#castor::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do botão ao passar o mouse */
}

.coluna{
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  height: 100%;
  width:33vw;
}

#textmate { 
  text-align: left;
  color: #037B9C;
  background: linear-gradient(to bottom, #f2feff 0%, #ffffff 100%);
  padding: 5% 5%;
  margin: 0;
  font-size: 20px;
  max-width: 60%;
  min-width: 60%;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  width: 100%;
  height: calc(1/2 * 100%);
}

#item1 {background-color:#037B9C;}
#item2 {background-color: #E7FEFF;}
#item3 {background-color: #43559C;}
#item4 {background-color:#43559C;}
#item5 {background-color: #60BAD2;}
#item6 {background-color:#037B9C;}

#item7 {
  border:0;
  margin:0;
  background-color:#60BAD2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  width: 33vw;
  height: 100%;
}

.item:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: -1px 38px 66px 0px rgba(0,0,0,0.55);
}

#item7:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: -1px 38px 66px 0px rgba(0,0,0,0.55);
}
/Fim  Materiais Utilizados/

/Seção sobre nós/
.membros{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.card {
  overflow: visible;
  width: 190px;
  height: 254px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background: linear-gradient(to bottom, #08789C 0%, #43559C 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(80deg, transparent, #60BAD2, #43559C, #60BAD2, #43559C, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 98.5%;
  height: 98.5%;
  background: linear-gradient(to bottom, #08789C 0%, #43559C 100%);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  margin-top: auto;
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#imgMembro1 {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0IYd4daRlpmP3EU5oD8MaBoTzeo4TrwsWHA&s');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#imgMembro2 {
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b6536b57-5510-4bca-9d38-37e06a213834/de18zql-efb0a19d-208f-4487-b631-10c5f5c1fa3e.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I2NTM2YjU3LTU1MTAtNGJjYS05ZDM4LTM3ZTA2YTIxMzgzNFwvZGUxOHpxbC1lZmIwYTE5ZC0yMDhmLTQ0ODctYjYzMS0xMGM1ZjVjMWZhM2UuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZRJxARHB4Fqa6TLQHAstGHsRbhN8Tg5g1SH8-h3k5qM');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#imgMembro3 {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4Sh3OaNuVSNgd1Tr0Pv7cz5fq9hQnEQAM0g&s');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#imgMembro4 {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUY3H_qo0ljhekuO15bMn8Hnl5A8nWA8Ni7A&s');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#imgMembro5 {
  background: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgM59QTs-xykVfi1gAkpQbVk66Z_saB55s-gjbFlkT22SZWvjMsx6bBrlihN84zsHjCkeXqHyERtOc8JtOlgfan67HfUsgAVbI_5McScSJJYNbnd8GlJP3JZ5PNujmEv15mQ4GRKSlhbYU/s1600/Goofy_Cartoon_Photo.jpg');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

#about{
  margin:0;
  padding:5%;
  background: linear-gradient(to bottom, #f2feff 0%, #ffffff 100%);
}

#textabout{
    text-align: left;
    color: #037B9C;
    margin: 0;
    font-size: 20px;
}

/Fim sobre nós/

  /* Seção final*/
  #final{
    bottom:0;
    background: linear-gradient(to bottom, #08789C 0%, #006A87 100%);
  }

  #fim{
    margin-bottom:-2%;
    padding: 4%;
    width: 100%;
    height:250vh;
    color: #E7FEFF;
    position: relative;
  }

  #foto-container{    
    height: auto;
    width: 100%;
  } 
  
  #textfoto {
    height: 100%;
    width: 100%;
    color: #E7FEFF;
    font-size: 20px;
  }

  .polaroid-wrapper {
    justify-content: center;
    position: relative;
  }
  
  .polaroid-border::before,
  .polaroid-border::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    height: 310px;
    width: 20px;
    background-color: #ffffff;
    z-index: 2000;
  }
  
  .polaroid-border::after {
    background-color:transparent;
    left: unset;
    right: 0px;
  }
  
  .polaroid-slider {
    background-color: #ffffff;
    height: 420px;
    width: 350px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 5px;
  }
  
  .polaroid-slider-image {
    width: 310px;
    height: 310px;
    margin: 24px auto;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  .slick-dots {
    bottom: 16px;
  }
  
  .slick-dots li button::before {
    font-size: 10px;
  }
  
  .slick-dots li.slick-active button::before {
    font-size: 12px;
    color: #333333;
    opacity: 1;
  }
  
  @media (max-width: 666px) {
    .polaroid-slider {
      height: 360px;
      width: 300px;
    }
  
    .polaroid-slider-image {
      height: 260px;
      width: 260px;
    }
  }
  

  #ref{
    margin-bottom:5%;
  }

  #artigo{
    width:100%;
    height: 70vh;
    border:0.05px;
  }

  #pdf{
    width:100%;
    height:100%;
  }

  #sac {
    color: #E7FEFF;
    display: flex;
    width: 50%;
    padding-left: 2%;
    height: 10vh;
    background-color: #60BAD2;
    border-radius: 200px;
    z-index: 2;
    align-items: center;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    bottom:-4%;
  }
  
  #footer {
    color: #08789C;
    display: flex;
    padding: 20px 4%;
    border-top-left-radius: 170px;
    border-top-right-radius: 170px;
    background-color: #ffffff;
    position: absolute; /* Fixamos o rodapé na base da página */
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Colocamos o z-index menor que o #sac para que ele fique sobreposto */
  }
  
  /* Fim final haha */
